.FormLabel {
    color: magenta;
    font-size: 120%;
}
.FormInput {
}
#ResultBorder {
  border-style: solid;
  border-color: lightgrey;
  display: none;
}
#Result {
  padding: 20px;
}
#NotButton {
  padding-bottom: 20px;
}
#Form {
    padding: 20px;
}
#FormBorder {
    border-style: solid;
    border-color: grey;
}
#GetButton {
    background-color: aqua;
    border-color: aqua;
    padding: 5px;
}
#GetButton:hover {
    background-color: blue;
    border-color: blue;
    color: lightgrey;
}
